<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <form>

                <div class="form-group row">
                    <label for="productName" class="col-sm-5 col-form-label">Product Name</label>
                    <div class="col-sm-5 form-input">
                        <input [value]="this.formInputData.productName" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="productName" class="col-sm-5 col-form-label">Product Short Description</label>
                    <div class="col-sm-5 form-input">
                        <input [value]="this.formInputData.productShortDescription" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="productName" class="col-sm-5 col-form-label">Product Detailed Description</label>
                    <div class="col-sm-5 form-input">
                        <input [value]="this.formInputData.productDetailedDescription" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="productName" class="col-sm-5 col-form-label">Product Category</label>
                    <div class="col-sm-5 form-input">
                        <input [value]="this.formInputData.productCategory" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="productName" class="col-sm-5 col-form-label">Product Price</label>
                    <div class="col-sm-5 form-input">
                        <input [value]="this.formInputData.productPrice" type="number" class="form-control">
                    </div>
                </div>
            </form>
            <button class="btn btn-secondary submit-button">Submit</button>
        </div>
    </div>

</div>