<div class="container-fluid justify-content-center">
    <div class="row">
        <div class="col-12">
            <h2 class="header">PRODUCT SUPPORT TOOL</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <nav class="router-links">
                <a [routerLink]="['/add']">Product Add</a>
                <a [routerLink]="'/update'">Product Update</a>
                <a [routerLink]="'/delete'">Product Delete</a>
                <a [routerLink]="'/search'">Product View</a>
            </nav>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>